.parallax {
  /* The image used */
  background-image: url("images/tigre.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
img {
    width: 100%; /* You can set the dimensions to whatever you want */
    height: 450px;
    object-fit: cover;
    padding: 10px;
}

.icon {
  width: 5%;
  height: 5%;
}

.yo {
  width: 50%; /* You can set the dimensions to whatever you want */
  height: 500px;
  object-fit: cover;
  padding: 10px;
}
